<div class="container">
  <div class="text-center">
      <h2 class="section-heading text-uppercase"><%= t('main.contact') %></h2>
  </div>
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
  <!-- * * * * * * * * * * * * * * *-->
  <!-- * * SB Forms Contact Form * *-->
  <!-- * * * * * * * * * * * * * * *-->
  <!-- This form is pre-integrated with SB Forms.-->
  <!-- To make this form functional, sign up at-->
  <!-- https://startbootstrap.com/solution/contact-forms-->
  <!-- to get an API token!-->
  <%= form_for @request, url: {action: "create_request"}, html: {class: "contact_form"} do |f| %>
    <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
            <div class="form-group">
                <!-- Name input-->
                <label class="required"><%= t('main.contact_us.name') %></label>
                <%= f.text_field :name, class: "form-control", placeholder: t('main.contact_us.placeholder.name'), required: true %>
            </div>
            <div class="form-group">
                <!-- Email address input-->
                <label class="required"><%= t('main.contact_us.email') %></label>
                <%= f.text_field :email, class: "form-control", type: "email", placeholder: t('main.contact_us.placeholder.email'), required: true %>
            </div>
            <div class="form-group ">
                <!-- Phone number input-->
                <label class="required"><%= t('main.contact_us.phone') %></label>
                <%= f.text_field :phone, class: "form-control", type: "tel", placeholder: t('main.contact_us.placeholder.phone'), required: true %>
            </div>
            <div class="form-group mb-md-0">
                <!-- Phone number input-->
                <label><%= t('main.contact_us.address') %></label>
                <%= f.text_area :address, class: "form-control", placeholder: t('main.contact_us.placeholder.address') %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-textarea mb-md-0">
                <!-- Message input-->
                <label class="required"><%= t('main.contact_us.description') %></label>
                <%= f.text_area :description, class: "form-control", placeholder: t('main.contact_us.description'), required: true %>
            </div>
        </div>
    </div>
    
    <!-- Locale -->
    <%= f.hidden_field :locale_code, :value => I18n.locale %>

    <!-- Submit Button-->
    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit"><%= t('main.contact_us.send_message') %></button></div>
  <% end %>
</div>