<!-- Masthead-->
<header class="masthead">
    <div class="container row banner-with-form">
        <div class="col-lg-8 col-sm-12 mb-4 offset-lg-2">
            <%= render "articles/contact_form_fields" %>
        </div>
        <%# <div class="col-lg-5 col-sm-12 mb-4"> %>
            <%# <div class="masthead-subheading"><%= t('welcome') %>
            <%# <div class="masthead-heading text-uppercase"><%= t('nice_to_meet_you') %>
            <%# <a class="btn btn-primary btn-xl text-uppercase" href="#contact"><%= t('tell_me_more') %>
        <%# </div> %>
    </div>
</header>
<!-- Services-->
<%= render "articles/services" %>
<!-- Portfolio Grid-->
<%= render "articles/portfolio" %>
<!-- About-->
<%= render "articles/about" %>
<!-- Team-->
<%= render "articles/team" %>
<!-- Clients-->
<%# <%= render "articles/clients" %>
<!-- Contact Form-->
<%# <%= render "articles/contact_form" %>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="assets/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> %>
<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> %>
