<div id="top-header">
  <div class="container clearfix">
      <div id="et-info">
          <i class="fas fa-phone"></i>
          <span href="tel:832-798-3798" id="et-info-phone">(832) 798 3798 </span>
          <span> - </span>
          <span href="tel:409-293-6411" id="et-info-phone">(409) 293 6411 </span>
          <i class="fas fa-envelope"></i>
          <a href="mailto:Harbuil@gmail.com">
              <span id="et-info-email">Harbuild@gmail.com</span>
          </a>
          <%# <a class="et-info-language" href="">EN</a>
          <a class="et-info-language" href="">VN</a> %>
          <%= link_to 'EN', root_path(locale: :en), class: "et-info-language" %>
          <%= link_to 'VN', root_path(locale: :vi), class: "et-info-language" %>
      </div> <!-- #et-info -->
      <div id="et-secondary-menu">
      </div> <!-- #et-secondary-menu -->
  </div> <!-- .container -->
</div>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="assets/logo-harbuild.png" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services"><%= t('header.services') %></a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio"><%= t('header.portfolio') %></a></li>
                <li class="nav-item"><a class="nav-link" href="#about"><%= t('header.about') %></a></li>
                <li class="nav-item"><a class="nav-link" href="#team"><%= t('header.team') %></a></li>
                <%# <li class="nav-item"><a class="nav-link" href="#contact"><%= t('header.contact') %>
        </div>
    </div>
</nav>